:root {
    --warna-hijau: #2E5A3B;
    --warna-coklat: #D6C7B0;
    --warna-hitam: #1C1C1C;
}

body {
    background-color: var(--warna-coklat);
}

.banner {
  background-color: #fefefe;
  border-radius: 20px;
  margin-top: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

